[database]
drivername = postgresql
host = localhost
database = example
username = username
password = asdf
schema = schema_name

[keemu]
# The directory where the keemu export files are deposited
export_dir = /vagrant/exports
# Location of the keemu schema
schema = /vagrant/exports/schema.pl

[core]
error-email: test@test.com